<div class="{{css.leftPane}}">
  <div class="{{css.leftPane}}__fetch-document">
    <form id="fetch-document" class="{{css.leftPane}}__fetch-document__row">
      <input required type="url" id="fetch-document-url" class="{{css.leftPane}}__fetch-document__input"
        placeholder="Type the URL of the AsyncAPI document to import...">
      {{>button button=true submit=true outline=true text='Import document' }}
    </form>
    <div id="fetch-document-error" class="{{css.leftPane}}__fetch-document__error"></div>
  </div>
{{#>code-mirror id='code' app=app}}
{{/code-mirror}}
</div>
<div class="js-collapse-{{css.leftPane}} {{css.leftPane}}__collapser"></div>

<style>
.{{css.leftPane}} {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 50px;
  width: 50%;
  bottom: 0;
  border-right: #607d8b 2px solid;
  background-color: #263238;
}

.{{css.leftPane}}--collapsed {
  width: 0;
}

.{{css.leftPane}}__collapser {
  position: absolute;
  top: 50%;
  left: calc(50% - 18px);
  background-color: #526975;
  padding: 7px 1px 10px 1px;
  font-size: 28px;
  border-radius: 3px 0 0 3px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.{{css.leftPane}}--collapsed + .{{css.leftPane}}__collapser {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.{{css.leftPane}}__collapser::before {
  content: '‹›'
}

.{{css.leftPane}}__fetch-document {
  padding: 13px 20px;
  margin-bottom: 10px;
  background-color: #526975;
  box-shadow: rgba(0,0,0,.75) 0 0 5px;
  z-index: 5;
}

.{{css.leftPane}}__fetch-document__row {
  display: flex;
}

.{{css.leftPane}}__fetch-document__input {
  flex: 1;
  font-size: 14px;
  padding-left: 5px;
  border: #fff 1px solid;
  outline: none;
}

.{{css.leftPane}}__fetch-document__error {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #c1332f;
  color: white;
  text-align: center;
}

.{{css.leftPane}}__fetch-document__error--visible {
  display: block;
}
</style>

<script>
(() => {
  const App = document.querySelector('{{app}}');
  const ErrorPane = document.getElementById('fetch-document-error');
  const FetchInput = document.getElementById('fetch-document-url');
  const FetchForm = document.getElementById('fetch-document');

  document.querySelector('.js-collapse-{{css.leftPane}}').addEventListener('click', function () {
    document.querySelector('.{{css.leftPane}}').classList.toggle('{{css.leftPane}}--collapsed');
  });

  FetchInput.addEventListener('input', function (ev) {
    ErrorPane.classList.remove('{{css.leftPane}}__fetch-document__error--visible');
  });

  FetchForm.addEventListener('submit', function (ev) {
    ev.preventDefault();
    ErrorPane.classList.remove('{{css.leftPane}}__fetch-document__error--visible');

    fetch(FetchInput.value)
      .then(function (response) {
        if (!response.ok) throw new Error(response.statusText);
        return response.text();
      })
      .then(function (doc) {
        App.dispatchEvent(new CustomEvent('updateCode', { detail: doc }));
      })
      .catch(function (err) {
        ErrorPane.innerText = err;
        ErrorPane.classList.add('{{css.leftPane}}__fetch-document__error--visible');
        console.error(err);
      });
  });
})();
</script>
